@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    
}

header {
    height: 200px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.521);
}

header h1 {
    padding-top: 50px;
}

header p {
    padding-top: 5px;
}

header a {
    text-decoration: none;
    color: brown;
    font-weight: bold;
}

section {
    line-height: 1.5em;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 15px;
}

section p {
    padding: 10px;
}

.imagem > p { /* Essa classe foi criada para as palavras. Criar um fundo para facilitar a leitura*/
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    width: 250px;
    color: white
}

#img001 {
    background-image: url("../imagens/background001.jpg");
    background-position: right center;
    background-size: cover;
}

#img002 {
    background-image: url("../imagens/background002.jpg");
    background-position: right center;
    background-size: cover;
}


footer {
    padding: 10px;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.521);
    font-size: 1.2em;
}