@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

:root {
    --fontetexto: 'Square Peg', cursive;
    --fontetitulo: 'Libre Baskerville', serif;
}

header {
    height: 45vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.521);
}

header h1 {
    padding-top: 50px;
    font-family: var(--fontetitulo);
    font-size: 10vw; /* 10% da largura da vw. Adapta de acordo com o tamanho da tela*/
}

header p {
    padding-top: 5px;
}

header a {
    text-decoration: none;
    color: brown;
    font-weight: bold;
}

header a:hover {
    background-color: rgba(165, 42, 42, 0.377);
    text-decoration: underline;
    padding: 3px;
}

section {
    line-height: 2.5em;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 15px;
}

section p {
    padding: 10px;
    font-family: var(--fontetexto);
    font-size: 1.5em;
}

.imagem > p { /* Essa classe foi criada para as palavras. Criar um fundo para facilitar a leitura*/
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    width: 300px;
    color: white
}

#img001 {
    background-image: url("../imagens/background001.jpg");
    background-position: right center;
    background-size: cover;
    background-attachment: fixed; /* Cria o efeito Parallax */
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.637); /* Para o efeito parallax fica mais realista */
}

#img002 {
    background-image: url("../imagens/background002.jpg");
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.637);
}


footer {
    padding: 10px;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.521);
    font-size: 1.2em;
}